.row
  .span6
    %h1
      = @user.name
      %small
        = "@#{@user.screen_name}"
    - unless @user.description.blank?
      %h6
        = @user.description
  .span2.offset4
    = form_tag(signout_path, :method => 'delete') do
      %fieldset
        %button.btn.btn-danger#sign_out
          = t("button.sign_out")
.row
  .span12
    = content_tag "div", data: { handle: @hero.handle, hp: @hero.hp, room: @hero.room, sword: @hero.sword } { }
    %canvas#heart-core{ width: 28*32, height: 18*32 }

= render :partial => 'hero_form'
= render :partial => 'heart_tree'
= render :partial => 'blade_get'

